.countryHeaderCont {
  background: url(../../public/images/COVID-19-bg.jpg), right center, no-repeat,
    #000;
  min-height: 218px;
  background-size: cover;
  color: white;
  padding: 38px 0 0 18px;
}

.countryFlagAndNameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countryFlagImg {
  border-radius: 10px;
  border: 3px solid white;
}

.infoCountryListing {
  display: flex;
  justify-content: space-between;
  padding: 18px 22px;
  background-color: var(--cont-bg-1);
  color: white;
}

.infoCountryListing:nth-child(even) {
  background-color: var(--cont-bg-2);
}

.titleCountry {
  padding: 7px;
  border-radius: 10px;
  border: 3px solid white;
  margin-top: 5px;
  background-color: #4268b1;
  font-size: 5vw;
}
